.play {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-iframe {
    padding: 0;
    margin: 30px;
    margin-top: 50px;
    border: none;
}

.play-button {
    margin-top: 50px;
} 